@using WebApplication1.Models;
@model Tiger
@{
    ViewBag.Title = "GetTiger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetTiger</h2>
<div>@Model.name</div>
<div>@Model.age</div>
<div>@Model.area</div>

<a href="http://localhost:49992/Home"><img src="/content/1.jpg" /></a>

